<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/new_visitor.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Allura&family=Bilbo+Swash+Caps&family=Ms+Madi&family=Ubuntu:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 1. Owl Carousel Min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- 2. Owl Carousel Theme Min.css -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://use.fontawesome.com/add85f306e.js"></script>
    <title>First Baptist Church-New Here?</title>
</head>
<body>
    <div class="container-lg">
        <header>
            <div style="text-align:center;margin-top:25px;font-weight:bold;text-decoration:none;">
                <a class="navbar-brand" href="#">
                    <!-- <img class="logo" src="{{ url_for('static', filename='img/cross.jpg') }}" alt="Cross"> -->
                    <h2 class="church-name">First Baptist Church</br><span>of Spring Hill</span></h2>
                </a>
            </div>
        </header>
            
            <div class="xs-menu-cont">
            <a id="menutoggle"><i class="fa fa-align-justify"></i></a>
                <nav class="xs-menu displaynone">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="drop-down">
                            <a href="#">About Us</a>
                        <div class="mega-menu fadeIn animated">
                            <div class="mm-6column">
                                <span class="categories-list">
                                <ul>
                                    <li>
                                        <a href="/new_here/">New Here?</a>
                                    </li>
                                    <li>What we believe</li>
                                    <li>Our Team</li>
                                    <li>Contact</li>
                                </ul>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a href="#">Ministries</a>
                        </li>
                        <li>
                            <a href="#">Watch/Read</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">Give</a>
                        </li>
                        <li>
                            <a href="/users/account" class="account">
                                My Account
                            </a>
                        </li>
                    </ul>
                    
                </nav>
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="drop-down">
                        <a href="#">About Us</a>
                    <div class="mega-menu fadeIn animated">
                        <div class="mm-6column">
                            <span class="categories-list">
                            <ul>
                                <li>
                                    <a href="/new_here/">New Here?</a>
                                </li>
                                <li>What we believe</li>
                                <li>Meet Our Team</li>
                                <li>Contact</li>
                            </ul>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="#">Ministries</a>
                    </li>
                    <li>
                        <a href="#">Watch/Read</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">Give</a>
                    </li>
                    <li>
                        <a href="/users/account" class="account">
                            My Account
                        </a>
                    </li>
                </ul>
            </nav>
    </div>
    <main>
        <div class="journey-wrapper">
            <img class="journey-img" src="{{ url_for('static', filename='img/journey1.jpg') }}" alt="journey-image">
            <h2 class="journey-text">The Journey<br><span>Starts Here</span></h2>
        </div>
        
        <div class="message">
            <h2>Everyone has a next step. What's Yours?</h2>
            <p>We hope our church can be a place where you connect to others and find a home. Here at our church, we believe 
                in the core values of inclusivity and redemption, grace and love, and the transforming power of Christ. We are 
                all committed to walking the journey together. Whether you're single, married, with or without children, young 
                or old--we invite you to experience life and growing with us at First Baptist Church of Spring Hill.  
            </p>
            <p class="message2">We're so excited you're interested in learning more about who we are and joining the family!</p>
        </div>

        <div class="starting-point">
            <img class="starting-img" src="{{ url_for('static', filename='img/starting_background.jpg') }}" alt="journey-image">
            <h2 class="starting-text">Your Journey Begins<br>Here</h2>
            <p class="starting-info">We welcome you to stop by the welcome desk located in the lobby of the main
                entrance. Our volunteers can help you find information and get connected! We look
                forward to meeting you!
            </p>
        </div>

        <div class="small-groups">
            <h2><span>Connect</span> with small groups</h2>
            <p>Small groups are great for finding support, comfort and building close
                friendships with others. In small groups, you will find a place to pray,
                talk about life, laugh, hear others and their journey with Christ 
                and even minister to others. Click the link below to see what
                groups are meeting at this time. 
            </p>
            <a class="view_groups" href="">Find a group</a>
        </div>

        <div class="groups-info">
            <img class="study-img" src="{{ url_for('static', filename='img/class-img.jpg') }}" alt="bible-study-image">
            <div class="study-info">
                <h2>Learn and grow through<br><span>Classes</span></h2>
                <p>Here at First Baptist, we provide many different classes,
                so you can connect with others, learn more and grow as a 
                believer. We provide classes for all ages at 8:45am on Sunday 
                mornings. Belonging to a class helps you connect with other believers
                who can be with you along the journey. 
                </p>
                <a class="view_groups" href="">View our classes</a>
            </div>
        </div>

        <div class="serve-info">
            <h2>Live to <span>Serve</span></h2>
            <p>At First Baptist, there are many ways you can roll up 
                your sleeves, serve others and build relationships. 
                There are plenty of opportunities for you to get started.
            </p>
            <p class="serve-verse">Each of you should use whatever gift you have received to serve 
                others. 1 Peter 4:10
            </p>
            <a class="view_groups" href="">View service opportunities</a>
        </div>

        <div class="contact">
            <div class="church-name">
                <!-- <img class="logo" src="{{ url_for('static', filename='img/cross.jpg') }}" alt="Cross"> -->
                <h2>First Baptist Church</br><span>of Spring Hill</span></h2>
            </div>

            <div class="address">
                <p><i class="fa fa-map-marker map-icon" aria-hidden="true"></i>5219 Main Street<br>
                    Spring Hill,TN 37174
                </p>
                <div class="account-login">
                    <a href="/users/account" class="account">My Account</a>
                </div>
            </div>
            <div class="footer-info">
                <div class="our-church">
                    <h2>Our Church</h2>
                    <p>Times & Locations<br>
                    Calendar<br>
                    Contact Us</p>
                </div>

                <div class="next-steps">
                    <h2>Next Steps</h2>
                    <p>Baptism<br>
                    Join our church<br>
                    Serving<br>
                    Missions</p>
                </div>

                <div class="get-connected">
                    <h2>Get Connected</h2>
                    <p>LifeGroups<br>
                    Children<br>
                    Students</p>
                </div>
            </div>
            <div class="icons">
                <img src="{{ url_for('static', filename='img/png/002-facebook.png') }}" alt="facebook-icon">
                <img src="{{ url_for('static', filename='img/png/001-instagram.png') }}" alt="Instagram-icon">
                <img src="{{ url_for('static', filename='img/png/003-youtube.png') }}" alt="Youtube-icon">
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    
    <!-- 0. JQuery Cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- 1. Owl Carousel Min .js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/homepage.js') }}"></script>
</body>
</html>