*, 
*::before,
*::after {
    box-sizing: borders-box;
    padding: 0;
    margin: 0;
}

body {
	font-family:'Ubuntu', sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	line-height: 1;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.church-name {
    font-family: 'Allura', cursive;
}

/** * Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header h2 {
	margin: 30px 0 0 20px ;
    font-size: 32px;
    text-align: start;
    color: darkgray;
    font-weight: 700;
}

header span {
    color: black;
}

.container-lg {
	margin: 10px 0;
	display: table;
	max-width: 1200px;
	width: 100%;
}

    .container-lg:after, .container-lg:before {
	content: "";
    height: 300px;
    width: 100%;
    clear : both;
}

nav.menu {
	background: coral;
	position: relative;
	min-height: 50px;
	height: 100%;
    width: 100%;
}

.menu > ul > li {
	list-style: none;
	display: inline-block;
	color: #fff;
	line-height: 60px;
}
.menu > ul li a, .xs-menu li a {
	text-decoration: none;
	color: #fff;
	display:block;
	padding: 0px 13px;
}

.menu > ul li a:hover {
	background:#444;
	color: #fff;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}
.active{
	background:#444 !important;
	
}
.displaynone{
	display: none;
}
.xs-menu-cont{
display:none;
}
.xs-menu-cont > a {
    background: none repeat scroll 0 0 #ff7f50;
    border-radius: 3px;
    padding: 3px 6px;
	display: block;
	border-bottom:1px solid #E67248;
	box-shadow: 0 1px 2px #e67248;
	-webkit-box-shadow: 0 1px 2px #e67248;
	-moz-box-shadow: 0 1px 2px #e67248;
}
.xs-menu-cont > a:hover{
    cursor: pointer;
}

.xs-menu li {
    color: #fff;
    padding: 15px 30px;
    border-bottom: 1px solid #ccc;
    background: coral;
    cursor: pointer;
}

.xs-menu  a{
    text-decoration:none;
}

.mega-menu {
    background: none repeat scroll 0 0 #888;
    left: 45px;
    margin-top: 3px;
    position: absolute;
    width: 80%;
	padding:15px;
	display:none;
	transition-duration: 0.9s;
    
}
#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}


/*--column--*/
.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{
    content:"";
    display:table;
    clear:both;
}

.mm-6column, .mm-3column {
    text-align: center;
    position: relative;
}
.mm-6column {
    width: 50%;
    height: 100%;
}
.mm-3column {
        width: 25%;
}
.responsive-img {
    display: block;
    max-width: 100%;
}

.categories-list li {
    display: block;
    line-height: normal;
    height: 100%;
    margin: 0;
    padding: 5px 0;
}
.categories-list li :hover {
	background:inherit !important;
}
.left-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}
.categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.mm-view-more{
	background: none repeat scroll 0 0 #ff7f50;
    color: #fff;
    display: inline !important;
    line-height: normal;
    padding: 5px 8px !important;
	margin-top:10px;
}
.display-on{
    display:block;
    transition-duration: 0.9s;
}
.drop-down > a:after{
    content:"\f103";
    color:#fff;
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 5px;
}

    /*MediaQuerys*/
@media (max-width: 600px) {
    .menu {
    display:none;
}
    .xs-menu li a {

	padding:0px;
}
    .xs-menu-cont{
    display:block;
}
}


/*Animation--*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* .account {
    margin-top: 40px;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 24px; 
    border: none;
    font-weight: 700;
    background-color: white;
    color: coral;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 0 0;
}  */

.account {
    width: 125px;
    height: 30px;
    border-radius: 24px;
    border: none;
    background-color: darkgray;
    color:#ff7f50;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.account {
    text-align: center;
    text-decoration: none;
}

.account:hover {
    color: white;
    font-weight:700;
}


.account-img {
    width: 100%;
    height: 20%;
    position: relative;
}

.account-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.account-wrapper .img-title {
    font-family: 'Allura', cursive;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 5rem 0;
    width: 400px;
}

.img-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    position: relative;
    text-align: center;
}

.account-info p {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 0 25px;
}

.account-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-acct, .login-acct {
    width: 250px;
    height: 40px;
    background-color: #0BBAB3;
    color: white;
    margin-bottom: 20px;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
}

.create-acct:hover, .login-acct:hover {
    color: rgb(235, 137, 25);
}

.account-benefits {
    text-align: start;
    margin-top: 30px;
    padding: 0 30px;
}

.account-benefits h2 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

.account-benefits li {
    text-align: start;
    list-style: circle;
    list-style-type: disc; 
    margin: 0 -20px -30px 0;
}

.church-app {
    text-decoration: none;
}

.signup-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.signup-info h2 {
    margin-top: 30px;
    font-size: 32px;
    text-transform: uppercase;
}

.signup-info li {
    display: list-item;
    text-align: start;
    list-style: circle;
    list-style-type: disc; 
    margin: 0 -20px -30px 0;
}

.signup-info a {
    vertical-align: baseline;
    text-decoration: underline;
    text-decoration-color:#0BBAB3; 
    color: #0BBAB3;
    align-self: flex-start;
}

.signup-info ul {
    margin-bottom: -20px;
}

.contact {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(53, 49, 49); 
    color: white;
    text-align: center;
    padding-bottom: 40px;
} 

.contact .church-name {
    width: 400px;
    font-family: 'Allura', cursive;
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-top: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.contact h2 {
    font-size: 38px;
    font-weight: normal;
}

.address {
    line-height: 25px;
    margin-top: 10px;
}

.map-icon {
    margin-right: 10px;
}

.account-footer {
    height: 30px;
    margin: -5px 0 40px 0;
}

.footer-info {
    margin: 20px 0;
}




@media screen and (min-width: 576px) and (max-width: 992px) {
    
    .account-wrapper {
        width: 100%;
    }

    .account-img {
        height: 20%;
    }
}

@media screen and (max-width: 1440px) {

    .account-img {
        height: 20%;
    }
}