/* ****Global**** */

*, 
*::before,
*::after {
    box-sizing: borders-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu',sans-serif;
}
/* Navbar */
.church-name {
    color: #082f54;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Allura', cursive;
    text-align: center;
    line-height: 25px;
    margin-left: 70px;
    padding-top: 5px;
}

.church-name span{
    color: white;
    font-weight: normal;
}

nav {
    background-color:#85b7a0;  
    width: 100%;
    height: 80px;
    padding: 0 16px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    /* fade in checked menu */
}

/* Hamburger Menu */
nav .m-menu__checkbox {
    display: none;
}

nav label.m-menu__toggle {
    cursor: pointer;
}

nav .m-menu {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 450px;
    width: calc(100vw - 30px);
    height: 420px;
    -moz-transform: translate3d(-450px, 0, 0);
    -o-transform: translate3d(-450px, 0, 0);
    -ms-transform: translate3d(-450px, 0, 0);
    -webkit-transform: translate3d(-450px, 0, 0);
    transform: translate3d(-450px, 0, 0);
    -moz-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    z-index: 1;
    overflow: hidden;
    background-color: lightgray;
}

nav .m-menu__overlay {
    background-color: rgba(103, 103, 103, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: none;
}

nav .m-menu__header {
    padding: 0 16px;
    height: 50px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

nav .m-menu__header span {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

nav .m-menu .m-menu {
    -moz-transform: translate3d(480px, 0, 0);
    -o-transform: translate3d(480px, 0, 0);
    -ms-transform: translate3d(480px, 0, 0);
    -webkit-transform: translate3d(480px, 0, 0);
    transform: translate3d(480px, 0, 0);
}

nav .m-menu ul {
    list-style: none;
    height: 100%;
    overflow-y: auto;
}

nav .m-menu ul li a,
nav .m-menu ul li label {
    display: block;
    text-align: left;
    padding: 0 15px;
    line-height: 47px;
    text-decoration: none;
    color: #082f54;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

nav .m-menu ul li label.a-label__chevron::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-color: #333;
    border-style: solid;
    border-width: 1px 1px 0 0;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    margin-top: -5px;
    right: 16px;
}

nav .m-menu ul li .-invisible {
    border-bottom: 0;
}

nav .m-menu .m-menu label.m-menu__toggle {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-bottom: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

nav .m-menu__checkbox:checked~.m-menu__overlay {
    display: block;
}

nav .m-menu__checkbox:checked~.m-menu {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.wrapper {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
}

/* Navbar menu extended */

@media screen and (min-width: 950px) {

    #logo .church-name {
        width: 250px;
        display: flex;
        flex-direction: column;
        font-size: 28px;
        font-weight: 700;
        font-family: 'Allura', cursive;
        text-align: start;
        line-height: 20px;
        margin: 0 50px 0 20px;
        padding-top: 5px;
    } 

    .xs-menu {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #container > nav > .menu {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #container {
        width: 100%;
        height: 80px;
        margin: 0 auto;
        box-shadow: -2px -2px 5px white, 2px -2px 5px white;
    }

    #container>nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        max-height: 80px;
    }

    #container>nav>ul {
        max-width: 600px;
        margin: 0 10px 0 30px;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: no-wrap;
        justify-content: flex-end;
        /* gap: 5px; */
        position: absolute;
        z-index: 5000;
        right: -10px;
        min-width:60%;
    }

    #container>nav>ul>li {
        line-height: 60px;
        margin: 0 0px;
        padding: 0;
        text-align: center;
        display: inline-block;
        min-width: 120px;

    }

    #container>nav>ul>li>a {
        position: relative;
        margin: 0 10px;
        color: white;
        font-size: 14px;
        text-decoration: none;
    }

    #container>nav>ul>li:hover {
        border-bottom: 2px solid white;
        background-color: #082f54;
    }

    #container>nav>ul>.dropdown:hover {
        border-bottom: none;
    }

    #container>nav>ul>.dropdown:hover>.dd {
        display: block;
    }

    .dropdown:hover>a .fa-caret-down {
        display: none;
    }

    a {
        text-decoration: none;
    }

    #container>nav>ul>li>div {
        position: absolute;
        padding: 0 10px;
        background-color: black;
        display: none;
        background-color: lightgrey;
        min-width: 200px;
    }

    #container>nav>ul>li>div>ul {
        margin: 0px 0 10px 0;
        padding: 0;
        list-style: none;
    }

    #u_a_c {
        position: relative;
        width: 100%;
    }

    #up_arrow {
        position: relative;
        width: 20px;
        height: 20px;
        left: 42%;
        top: -10px;
        background-color: lightgray;
        transform: rotate(45deg);
    }

    #container>nav>ul>li>div>ul>li:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    #container>nav>ul>li>div>ul>li>a {
        padding: 5px;
        color: black;
    }
}

/* Homepage Mobile*/
.showcase {
    position: relative;
}

.showcase .announcement {
    width: 100%;
    height: 100px;
    background-color: white; 
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    letter-spacing: 2px;
    opacity: 1.0;
}

.announcement h1 {
    font-size: 32px;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.showcase .video-wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    opacity: 1.0;
    
}

.showcase .video-wrapper video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    top: 100px;
    outline: none;
    border: none;
}

.showcase .video-wrapper .graphic-banner {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translateX(-50%) translateY(-50%);
    padding: 5rem 0;
    max-width: 18rem;
}

.graphic-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #082f54;
    position: relative;
}

.video-wrapper h1 {
    width: 223px;
    height: 78px;
    font-size: 120%;
    font-weight: normal;
    text-align: center;
}

.graphic-banner .title-top {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    text-align:start;
    text-transform: uppercase;
    padding: 0.1rem 0;
    line-height: 1.3;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.graphic-banner .title-top::after {
    top: 0px;
    left: 0px;
    width: 130%;
    height: 100%;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    transform: scale(1.2) translateX(-1rem);
}

.graphic-banner .title-top::after {
    display: block;
    content: "";
    background-color: coral;
    position: absolute;
    z-index: -1;
}

.graphic-banner .title-bottom {
    margin-left: 1rem;
    line-height: 1;
    transform: translateY(-2rem) rotate(-3deg);
    display: inline-block;
    position: relative;
    z-index: 0;
    margin-top: 2.5rem;
    font-size: 6rem;
    width: 120%;
    font-family: 'Splash', cursive;
    font-style: normal;
    font-weight: 400;
}

.graphic-banner .title-bottom::after {
    height: 5.2rem;
    text-align: center;
    width: 100%;
    top: calc(50% - 2.5rem);
    left: 10px;
    clip-path: polygon(0 0, calc(100% - 3rem) 0, 100% 100%, 3rem 100%);
    transform: scaleY(0.8) scaleX(1.2) rotate(2deg);
}

.graphic-banner .title-bottom::after {
    display: block;
    content: "";
    background-color: coral;
    position: absolute;
    z-index: -1;
}

.content h1 {
    /* margin-top: -90px; */
    text-align: center;
    line-height: 40px;
}

.content h3 {
    margin-bottom: 20px;
}

.content {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 30px;
}

.content span {
    color:#082f54;
    font-weight: 700;
}

.content p {
    font-size: 18px;
    text-align: center;
}

.content button {
    width: 150px;
    height: 40px;
    background-color: coral;
    border-radius: 24px;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
}

.new-here-btn {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.about .service {
    width: 100%;
    height: 500px;
    background-color: #85b7a0;
    color: white;
    margin: 40px 5px 50px 0;
    text-align: left;
    border-radius: 2px;
    padding: 80px 0 0 50px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
}

.service h2 {
    font-size: 38px;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

.service-times {
    line-height: 15px;
    margin-top: 50px;
    font-size: 24px;
    text-align: left;
    font-weight: 700;
}

.location {
    font-size: 24px;
    line-height: 20px;
    margin-top: 60px;
    text-align: left;
    font-weight: 700;
}

.bible-verse .verse {
    display: none;
}

.container-fluid {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    width: 300px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-fluid h1 {
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.events-header {
    margin-bottom: 50px;
}

.events-header h3 {
    color:#0BBAB3;
}

.card {
    width: 350px;
    height: 485px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 12%);
}

.item img {
    width: 450px;
    height: 200px;
}

.card2 img {
    position: relative;
}

.fall-event-info {
    position: absolute;
}

.card img {
    width: 398px;
    height: 223px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-body h3 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
}

.card-body span {
    font-size: 28px;
}

.card-2 {
    position: relative;
}

.info {
    position: absolute;
    color: white;
}

.title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 20px 0 0 -80px;
    color: coral;
}

.date {
    font-size: 18px;
    margin: 15px 0 0 70px;
}

.fall-info {
    margin: 20px 0 0 240px;
    font-weight: 700;
    width: 120px;
    color:coral;
}

.event-btn {
    width: 150px;
    height: 40px;
    border:none;
    border-radius: 24px;
    background-color:coral; 
    color: white;
}

.all-events-btn {
    width: 200px;
    height: 40px;
    border: 2px solid coral; 
    border-radius: 24px;
    color: coral; 
    margin-bottom: 110px;
}

.event-footer a {
    text-decoration: none;
    color: coral;
}

.event-footer {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.sermons {
    width: 100%;
    height: 600px;
    background-color:rgb(230, 216, 216);
}

.sermon-title {
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 02px 0 30px 55px;
    padding-top: 50px;
}

.sermon-btn {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 50px 50px;
    border-radius: 24px;
    background-color:rgb(53, 49, 49);
    border: none;
}

.sermon-btn a:hover {
    color: #0BBAB3;
}

.sermon-btn a {
    color: white;
    text-decoration: none;
}

iframe {
    margin: 30px 50px;
    width: 90%;
    padding: 0 50px 50px 0;
}

.newsletter {
    width: 100%;
    height: 500px;
    background-color: #0BBAB3;
    color: white;
    margin: 40px 5px 0px 0px;
    text-align: left;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-2.5rem);
    transition: all 0.4s ease;
}

.newsletter h2 {
    text-align: flex-start;
    margin: 50px 40px 30px 25px; 
    letter-spacing: 2px;
}

.first-name, .last-name, .email {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 20px 20px;
}

input {
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 40px;
}

.newsletter-btn {
    width: 100px;
    height: 40px;
    margin: 0 0 20px 20px;
    border-radius: 24px;
    border: none;
    background-color:coral;
    color: white;
    font-weight: 700;
}

/* About Page/Mobile */

.history-info {
    padding: 0 30px 50px 30px;
}

main {
    margin: 50px auto;
}

main h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.old-church-pic {
    width: 100%;
    height: 650px;
}

main ul li {
    list-style: disc;
    color: darkgray;
    font-weight: 700;
}

/* Adult page-Mobile */

.adult-img {
    width: 100%;
    height: 250px;
    margin-top: -50px;
} 

.adult-text {
    margin-top: -160px;
    font-size: 42px;
    color: white;
}

.adult-content {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 150px 20px 20px 20px;
}

.adult-content h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.adult-groups {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.adult-groups-part1 img {
    width: 100%;
    margin-bottom: 20px;
}

.adult-groups-part1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
}

.adult-groups-part2 img {
    width: 100%;
    margin-bottom: 20px;
}

.adult-groups-part2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.bible-studies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.bible-studies img {
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.bible-studies p {
    margin-top: 30px;
    font-size: 24px;
}

.bible-studies a {
    background-color:#85b7a0;
    color: coral;
    padding: 15px;
    text-decoration: none;
}

.young-adult {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.young-adult img {
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.young-adult a {
    background-color:#85b7a0;
    color: coral;
    padding: 15px;
    text-decoration: none;
}

.young-adult p {
    margin-top: 30px;
    font-size: 24px;
}

.womens-ministry {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.womens-ministry img {
    height: 300px;
    margin: 50px 0 30px 0;
    border-radius: 10px;
}

.womens-ministry a {
    background-color:#85b7a0;
    color: coral;
    padding: 15px;
    text-decoration: none;
}

.womens-ministry p {
    margin-top: 30px;
    font-size: 24px;
}

.mens-ministry {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.mens-ministry img {
    height: 300px;
    margin: 50px 0 30px 0;
    border-radius: 10px;
}

.mens-ministry a {
    background-color:#85b7a0;
    color: coral;
    padding: 15px;
    text-decoration: none;
}

.mens-ministry p {
    margin-top: 30px;
    font-size: 24px;
    padding-bottom: 50px;
}

/* Missions Page Mobile */

.missions-main-img img {
    width: 100%;
    height: 250px;
    margin-top: -50px;
}

.missions-main-img h2 {
    text-align: center;
    padding-top: 50px;
    margin-top: -200px;
    color: white;
    font-size: 32px;
}

.mission-info {
    margin: 150px auto;
    padding: 0 25px;
    text-align: center;
    
}

.mission-verse {
    font-size: 22px;
    color:#082f54;
    font-weight: 700;
    margin-top: 20px;
    line-height: 24px;
}

.christmas-backpacks-img {
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
}

.local {
    border-bottom: 1px solid black;
}

.local-outreach {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

.local-outreach h2 {
    font-size: 28px;
}

.local-outreach-link {
    text-decoration: none;
}

.well-outreach-img {
    width: 200px;
    height: 100px;
    align-self: flex-start;
}

.bible-groups img {
    width: 100%;
    height: 300px;
}

.bible-groups a {
    background-color:#85b7a0;
    color: coral;
    padding: 15px;
    text-decoration: none;
    margin: 50px 130px 30px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bible-groups p {
    text-align: center;
    font-size: 18px;
}

.bible-group-info h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bible-study-event {
    margin: 20px 0 30px 50px;
}

/* Youth/Children Mobile */

.youth-info {
    text-align: center;
    padding: 30px 30px 50px 30px;
    background-color: lightgray;
    margin-top: -30px;
}

.youth-info h2 {
    font-size: 38px;
    text-transform: uppercase;
}

.cores h2 {
    color:#0BBAB3;
    font-weight: 700;
}

.youth-times {
    font-weight: 700;
}

.youth-events {
    width: 100%;
}

.youth-events-info {
    padding: 30px auto;
    margin-top: 100px;
}

.youth-events img {
    width: 100%;
    height: 150px;
}

.youth-events h2 {
    margin-top: -110px;
    font-size: 42px;
    color: white;
    text-transform:uppercase;
    border-bottom: 1px solid white;
    letter-spacing: 3px;
    text-align: center;
}

.costume-party a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    color: coral;
}

.costume-party-sm, .ski-event-sm, .christmas-sm {
    height: 100px;
    width: 150px;
    position: relative;
}

.costume-party a:hover {
    text-decoration: none;
    color: coral;
}

.christmas-party a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    color: coral;
}

.visual p {
    position: absolute;
    margin: -70px 0 0 10px;
    text-align: center;
}

.christmas-party a:hover {
    text-decoration: none;
    color: coral;
}

.text h1 {
    font-size: 24px;
    text-align: center;
} 

.text p {
    text-align: center;
} 

.ski-event {
    margin-top: 20px;
}

.ski-event a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    color: coral;
}

.ski-event a:hover {
    color: coral;
}

.text {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.youth-info-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.youth-info-links h2 {
    text-transform: uppercase;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 30px 0 20px 0;
}

.links a {
    text-decoration: none;
    width: 150px;
    height: 50px;
    background-color:#0BBAB3;
    padding: 10px;
    color: coral;
    font-weight: 700;
    
}

.links a:hover {
    color: black;
    
}

/* Children Page Mobile */

.kids-main-video {
    width: 100%;
    height: 250px;
    margin-top: -80px;
}

.little-lambs, .tigers, .monkeys, .rhinos, .elementary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
    
}

.lamb-img, .tiger-img, .monkey-img, .rhino-img, .elementary-img {
    width: 350px;
    height: 250px;
    border-radius: 20px;
}

.info {
    width: 200px;
    font-size: 24px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.elementary-info {
    padding: 0px 30px 50px 30px;
    font-size: 24px;
}

.elementary-classes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.childrens-church h2 {
    margin: 50px 25px 0 20px;
    border-bottom: 1px solid black;
}
.childrens-church p{
    margin: 30px 25px 70px 25px;
    font-size: 24px;
    color: #0BBAB3;
}

/* Events Page */

.header {
    text-align: center;
    margin: 30px 0;
    font-size: 22px;
}
.costume-party-img {
    width: 100%;
    height: 350px;
    position: relative;
}

.img-text {
    position: absolute;
    margin: -300px 0 0 30px;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.party-info {
    position: absolute;
    margin: -150px 0 0 20px;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

.costume-party-info {
    font-size: 24px;
    padding: 30px 20px;
    color: orange;
}

.christmas-party-info {
    font-size: 24px;
    padding: 30px 20px;
    color: red;
}

.ski-trip-img {
    width: 100%;
    height: 350px;
    position: relative;
}

.ski-trip-info {
    font-size: 24px;
    padding: 30px 20px;
    color: blue;
}

.christmas-party-img {
    width: 100%;
    height: 350px;
    position: relative;
}


.container p {
    font-size: 28px;
}

/* Events Page Mobile */

.event-img {
    width: 100%;
    height: 250px;
    margin-top: -50px;
}

.event-img-text {
    font-size: 42px;
    letter-spacing: 3px;
    color: white;
    text-transform: uppercase;
    margin-top: -160px;
}

.events-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
    margin: 70px 100px;
}

.events-info li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
    list-style: none;
}

.event-text {
    font-size: 20px;
    text-align: center;
    color: coral;
}

.event-image {
    width: 200px;
    height: 150px;
    align-items: flex-start;
    margin-left: 30px;
}

/* Give Page-Mobile */
.give-img {
    width: 100%;
    height: 250px;
    margin-top: -50px;
}

.give-img-text {
    font-size: 42px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -160px;
}

.give-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
}

.give-info h2 {
    text-align: center;
    font-size: 32px;
    color:#85b7a0;
}

.giving {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 30px;
    gap: 30px;
}

.giving a{
    text-decoration: none;
    color: coral;
    font-weight: 700;
}

.serving {
    margin-top: 50px;
}

.serving a {
    text-decoration: none;
    color: coral;
    font-weight: 700;
    font-size: 24px;
}

/* Contact Page */

.contact-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.contact-info h1 {
    text-align: center;
}

.address {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info a {
    text-decoration: none;
    color:#E67248;
    font-weight: 700;
}

.contact-info p {
    text-align: center;
    line-height: 20px;
}

.contact-info h3 {
    text-align: center;
    margin-top: 30px;
}

.hours {
    margin-bottom: 20px;
}

/* New Visitor Page-Mobile */
.journey-wrapper {
    position: relative;
    margin-top: -50px;
}

.journey-img {
    width: 100%;
    height: 300px;
}

.journey-text {
    position: absolute;
    top: 80px;
    left: 230px;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    
}

.journey-text span {
    font-size: 24px;
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color:#0BBAB3;
    color: white;
}

.message {
    width: 100%;
    padding: 30px 50px;
    text-align: center;
    margin: 50px auto;
}

.message h2 {
    text-transform: uppercase;
    color: black;
}

.message2 {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.starting-img {
    width: 100%;
    height: 400px;
    position: absolute;
}

.starting-text {
    position: relative;
    text-align: center;
    font-size: 32px;
    top: 70px;
    color:#e67248; 
}

.starting-info {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 100px;
    padding: 0 30px;
    line-height: 25px;
}

.small-groups {
    width: 100%;
    margin-top: 220px;
    text-align: center;
    padding: 0 20px;
}

.small-groups h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.small-groups span {
    color:#E67248;
}

.small-groups a{
    position: relative;
    text-decoration: none;
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 24px;
    background-color:#E67248;
    color: black;
    font-weight: 700;
}

.small-groups p {
    margin-bottom: 30px;
}

.small-groups a:hover {
    color:#0BBAB3;
}

.groups-info {
    margin-top: 100px;
    text-align: center;
}

.study-img {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    opacity: 0.5;
}

.study-info {
    position: relative;
    margin-top: -340px;
    padding: 0 25px;
}

.study-info h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.study-info p {
    position: relative;
    color: black;
    font-weight: 700;
    margin-bottom: 30px;
    padding: 0 20px;
}

.study-info span {
    color:#e67248;
    text-transform: uppercase;
}

.groups-info a{
    position: relative;
    text-decoration: none;
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 24px;
    background-color:#E67248;
    color: black;
    font-weight: 700;
}

.groups-info a:hover {
    color:#0BBAB3;
}

.serve-info {
    width: 100%;
    margin: 100px auto;
    padding: 20px 30px;
    text-align: center;
}

.serve-info h2 {
    font-size: 32px;
}

.serve-info span {
    color:#e67248;
    text-transform: uppercase;
}

.serve-verse {
    color:#0BBAB3;
    font-weight: 700;
    margin: 30px auto;
}

.serve-info a{
    position: relative;
    text-decoration: none;
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 24px;
    background-color:#E67248;
    color: black;
    font-weight: 700;
}

.serve-info a:hover {
    color:#0BBAB3;
}

/* Our Team Page-Mobile */

.meet-team h2 {
    text-align: center;
    font-size: 46px;
    font-family:Arial, Helvetica, sans-serif;
}

.senior-pastor, .student-pastor, .worship-leader, .ministry-assistant {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    padding: 20px;
    margin: 0 20px;
}

.ministry-assistant {
    border:none;
    padding-bottom: 50px;
}

.senior-pastor-img, .student-pastor-img, .worship-leader-img, .ministry-assistant-img {
    margin-bottom: 20px;
}

.senior-pastor-info, .student-pastor-info, .worship-leader-info, .ministry-assistant-info{
    text-align: center;
    margin: 0 auto;
}

address a {
    text-decoration: none;
    color:#E67248;
    font-weight: 700;
}

/* User Account-Mobile */

.user-account-img {
    width: 100%;
    height: 20%;
    position: relative;
    margin-top: -50px;
}

.account-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.account-wrapper .img-title {
    font-family: 'Allura', cursive;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 5rem 0;
    width: 400px;
}

.img-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    text-align: center;
}

.account-info p {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    text-align: start;
    margin: 50px auto; 
    padding: 0 50px;
}

.church-life-img {
    height: 350px;
}

.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.download-links {
    display: flex;
    flex-direction: column;
}

.apple-link, .android-link {
    text-decoration: none;
    color:#E67248;
    font-size: 18px;
    font-weight: 700;
    gap: 30px;
}

.account-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-acct, .login-acct {
    width: 300px;
    height: 50px;
    background-color: #0BBAB3;
    color: white;
    margin-bottom: 20px;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
}

.create-acct:hover, .login-acct:hover {
    color: rgb(235, 137, 25);
}

.account-benefits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    padding: 0 30px;
}

.account-benefits h2 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

li .app-info {
    list-style: circle;
    list-style-type: disc;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.church-app {
    text-decoration: none;
}

.signup-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
}

.signup-info h2 {
    margin-top: 30px;
    font-size: 32px;
    text-transform: uppercase;
}

li .sign-up-info {
    list-style: circle;
    list-style-type: disc; 
    margin: 0;
    padding: 0;
}

.signup-info a {
    vertical-align: baseline;
    text-decoration: underline;
    text-decoration-color:#0BBAB3; 
    color: #0BBAB3;
    align-self: flex-start;
}

.signup-info p {
    text-align: start;
}

.signup-info ul {
    margin-bottom: -20px;
}

.church-life-video {
    padding: 0 30px;
}

.elementor-video-iframe {
    width: 400px;
    height: 300px;
    margin-left: 80px;
}

/* Watch/Listen-mobile */

.sermons-main-video {
    width: 100%;
    height: 250px;
    margin-top: -80px;
}

.engage-info {
    margin: 20px 25px 100px 25px;
    font-size: 20px;
}

.media-sermons a, .facebook-live a{
    text-decoration: none;
    color:#85b7a0;
    margin-top: 20px;
}

/* Footer-Mobile */
.contact {
    width: 100%;
    height: 100%;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(53, 49, 49); 
    color: white;
    text-align: center;
    padding-bottom: 40px;
} 

.contact .church-name {
    width: 400px;
    font-family: 'Allura', cursive;
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin: 30px 0 0 -10px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.contact h2 {
    font-size: 38px;
    font-weight: normal;
}

.address {
    line-height: 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.account {
    width: 150px;
    height: 40px;
    margin: 0 0 0px 15px;
    border-radius: 24px;
    border: none;
    background-color:coral;
    color: #082f54;
    font-weight: 700;
    padding: 5px 10px 0 0;
}

.account a {
    text-align: center;
    text-decoration: none;
}

.account:hover {
    color: white;
}

.map-icon {
    margin-right: 10px;
}

.account-footer {
    height: 30px;
    /* margin: -5px 0 40px 0; */
}

.contact .footer-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-info a {
    text-decoration: none;
    color: white;
}

.footer-info a:hover {
    color:#0BBAB3;
}

.footer-info h3 {
    color: coral;
    font-weight: 700;
    font-size: 28px;
}

.icons {
    margin-top: 10px;
}

.menu {
    display: none;
}

.verse {
    display: none;
}


@media screen and (min-width: 576px) and (max-width: 992px) {

/* HomePage Tablet */
    .content p {
        text-align: center;
        width: 100%;
        font-size: 18px;
        padding: 20px 60px 0 60px;
    }

    .about .service {
        text-align: center;
        border-radius: 2px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.4s ease;
    }

    .service-times {
        text-align: center;
    }

    .location {
        text-align: center;
    }

    .service p {
        font-size: 28px;
    }

    .greeting h2 {
        font-size: 38px;
    }

    .about {
        width: 100%;
    }

    .sermons {
        width: 100%;
        padding-left: 85px;
    }

    .sermon-title, .sermon-btn {
        margin-left: 0px;
    }

    iframe {
        width: 500px;
        height: 300px;
        margin-top: 20px;
    }

    .showcase {
        width: 100%;
    }

    .main-img {
        width: 875px;
    }

    .showcase .video-wrapper .graphic-banner {
        max-width: 22rem;
        padding: 10vw 0;
    }

    .graphic-banner .title-top {
        font-size: 1.4rem;
    }

    .graphic-banner .title-top:after {
        width: 130%;
    }

    .video-wrapper h1 {
        width: 320px;
        height: 55px;
    }

    .graphic-banner .title-bottom {
        margin-top: 2rem;
        font-size: 8rem;
    }

    .card {
        margin-right: 10px;
    }

    .fall-info {
        margin-left: 150px;
    }

    .title {
        margin-left: 10px;
    }

    .item {
        width: 350px;
        display: flex;
        flex-direction: row;
    }

    .church-name h2{
        line-height: 35px;
    }
    .address {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .account-footer {
        margin-top: 10px;
    }

    .newsletter {
        width: 100%;
        height: 500px;
        background-color: #0BBAB3;
        color: white;
        margin: 40px 5px 0px 0px;
        text-align: left;
        border-radius: 2px;
        /* padding: 20px; */
        display: flex;
        flex-direction: column;
        transform: translateY(-2.5rem);
        transition: all 0.4s ease;
    } 

    .first-name, .last-name, .email {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 20px 50px;
    }

    .newsletter-btn {
        margin-left: 50px;
    }

    .bible-verse .verse {
        display: none;
    }

/* About Page-Tablet */

    .old-church-pic {
        width: 100%;
        height: 850px;
    }

/* New Visitor Page-Tablet */
    .journey-img {
        width: 100%;
        height: 450px;
    }
    
    .journey-text {
        position: absolute;
        top: 30%;
        left: 50%;
        font-size: 38px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
    }

    .journey-text span {
        font-size: 28px;
        width: 150px;
        height: 30px;
        padding: 8px;
        letter-spacing: 3px;
        background-color:#0BBAB3;
        color: white;
    }

    .starting-text {
        position: relative;
        text-align: center;
        font-size: 32px;
        top: 90px;
        color:#e67248; 
    }

    .starting-info {
        position: relative;
        font-size: 16px;
        text-align: center;
        color: white;
        margin-top: 130px;
        padding: 0 30px;
        line-height: 25px;
    }

    .small-groups {
        width: 100%;
        margin-top: 220px;
        text-align: center;
        padding: 0 20px;
    }
    
    .small-groups h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .small-groups span {
        color:#E67248;
    }

    .small-groups p {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .serve-info {
        width: 100%;
        margin: 100px auto;
        padding: 50px 30px 20px 30px;
        text-align: center;
    }

/* Our Team-Tablet */

    .senior-pastor-img, .student-pastor-img, .worship-leader-img, .ministry-assistant-img {
        width: 300px;
    }

    .meet-team p {
        font-size: 20px;
        text-align: center;
    }

/* Contact page-Tablet */

    .contact-info p {
        text-align: center;
        line-height: 20px;
        font-size: 18px;
    }

/* Adult page-Tablet */

    .adult-img {
        width: 100%;
        height: 300px;
        margin-top: -50px;
    } 

    .adult-text {
        margin-top: -180px;
        font-size: 42px;
        color: white;
    }

    .adult-groups {
        display: flex;
        flex-direction: column;
    }

    .adult-groups-part1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }


    .adult-groups-part2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

/* Youth/Kids Page Tablet */

    .youth-img {
        width: 100%;
        height: 300px;
        margin-top: -50px;
    }

    .youth-text {
        margin-top: -170px;
        font-size: 42px;
        color: white;
        text-transform:uppercase;
        letter-spacing: 3px;
    }

    .youth-info {
        text-align: center;
        padding: 120px 30px 30px 30px;
        background-color: lightgray;
    }

    .youth-info h2 {
        font-size: 38px;
        text-transform: uppercase;
    }

    .youth-info {
        margin-top: 50px;
    }

    .youth-info p {
        font-size: 18px;
    }

    .youth-events h2 {
        text-align: center;
    }

/* Children Page- Tablet */

    .kids-main-video {
        width: 100%;
        height: 300px;
        margin-top: -30px;
    }
    
    .elementary-info {
        padding: 30px 100px;
    }

/* Missions Page-Tablet */

    .missions-main-img img {
        width: 100%;
        height: 300px;
        margin-top: -50px;
    }

    .missions-main-img h2 {
        font-size: 32px;
        margin-top: -220px;
    }

    .mission-info {
        margin: 170px auto 100px auto;
        padding: 0 25px;
        text-align: center;
    }
    
/* Watch/Listen Tablet */

    .sermons-main-video {
        width: 100%;
        height: 300px;
        margin-top: -40px;
    }

/* Events Page Tablet */

    .event-img {
        width: 100%;
        height: 300px;
        margin-top: -50px;
    }

    .event-img-text {
        margin-top: -175px;
    }

    .event-text {
        font-size: 28px;
        text-align: center;
        color: coral;
    }
    
    .event-image {
        width: 250px;
        height: 200px;
        align-items: flex-start;
    }
    
/* Give Page-Tablet */

    .give-img {
        width: 100%;
        height: 300px;
        margin-top: -50px;
    }
    
    .give-img-text {
        margin-top: -175px;
    }
    
    .give-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 150px 30px;
    }

/* User Account Page Tablet */

    .user-account-img {
        width: 100%;
        height: 300px;
        margin-top: -50px;
    }

    .account-wrapper {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .account-wrapper .img-title {
        font-family: 'Allura', cursive;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 5rem 0;
        width: 400px;
    }

    .img-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 2px;
        color: white;
        position: absolute;
        text-align: center;
    }

    .church-life-img {
        height: 450px;
    }

/* Footer Tablet */

    .contact .footer-info {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .footer-info h2{
        font-size: 24px;
    }

    .footer-info p {
        font-size: 16px;
        font-weight: 700;
    }

    .footer-info p:hover {
        cursor:pointer;
    }

    .icons {
        margin-left: -30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {

/* Homepage-Desktop */
    #container>nav>ul {
        max-width: 600px;
        margin-left: -10px;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;
        gap: 20px;
        position: absolute;
        z-index: 5000;
        right: -10px;
        /*   min-width:60%; */
    }

    .showcase .video-wrapper .graphic-banner {
        max-width: 22rem;
        padding: 10vw 0;
    }

    .graphic-banner .title-top {
        font-size: 1.4rem;
    }

    .graphic-banner .title-top:after {
        width: 130%;
    }

    .video-wrapper h1 {
        width: 320px;
        height: 55px;
    }

    .graphic-banner .title-bottom {
        margin-top: 2rem;
        font-size: 8rem;
    }

    .content {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 200px auto 30px auto;
    }

    .content p {
        text-align: center;
        width: 100%;
        font-size: 18px;
        padding: 20px 60px 0 60px;
    }

    .greeting h2{
        font-size: 56px;
    }

    .about .service {
        width: 100%;
        height: 500px;
        background-color: #85b7a0;
        color: white;
        margin: 40px 50px 50px 0;
        text-align: left;
        border-radius: 2px;
        padding: 80px 100px 0 100px;
        display: flex;
        transition: all 0.4s ease;
    }

    .bible-verse .verse {
        width: 300px;
        height: 300px;
        display: block;
        margin: -330px 0 0 570px;
    }

    .first-name, .last-name, .email {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 20px 50px;
    }

    .newsletter-btn {
        margin-left: 50px;
    }

    .newsletter {
        width: 100%;
        height: 500px;
        background-color: #0BBAB3;
        color: white;
        text-align: left;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        transform: translateY(-2.5rem);
        transition: all 0.4s ease;
    } 
    
    .newsletter h2 {
        margin-left: 50px;
    }
    .main-img {
        display: none;
    }

    video {
        display: block;
        width: 100vw;
        height: 100vh;
        border: none;
    }

    .showcase-container .main-img {
        width: 100%;
    }

    .fall-info {
        margin-left: 150px;
    }

    .title {
        margin-left: 10px;
    }

    .item {
        display: flex;
        flex-direction: row;
    }

    iframe {
        width: 55%;
        height: 450px;
        margin: -20px 0 0 150px;
        padding: 0 0 70px 0;
    }

/* About Page-Desktop */

    .old-church-pic {
        width: 100%;
        height: 1050px;
    }

/* New Visitor-Desktop */

    .journey-img {
        width: 100%;
        height: 500px;
    }
    
    .journey-text {
        position: absolute;
        top: 30%;
        left: 60%;
        font-size: 42px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
    }

    .message p {
        font-size: 20px;
    }

    .starting-text {
        position: relative;
        text-align: center;
        font-size: 38px;
        top: 90px;
        color:#e67248; 
    }

    .starting-info {
        position: relative;
        font-size: 20px;
        text-align: center;
        color: white;
        margin-top: 130px;
        padding: 0 60px;
        line-height: 32px;
    }

    .small-groups p {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .study-info p {
        font-size: 20px;
    }   

    .serve-info {
        width: 100%;
        margin: 100px auto;
        padding: 70px 30px 20px 30px;
        text-align: center;
    }

    .serve-info p {
        font-size: 20px;
    }

/* Our Team-Desktop */

    .senior-pastor-img, .student-pastor-img, .worship-leader-img, .ministry-assistant-img {
        width: 400px;
    }

    .meet-team p {
        font-size: 20px;
        padding: 0 100px;
        text-align: center;
    }

/* Contact page-Desktop */

    .contact-info p {
        text-align: center;
        line-height: 20px;
        font-size: 20px;
    }

/* Adult page-Desktop */

    .adult-img {
        width: 100%;
        height: 350px;
        margin: -50px 0 30px 0;
    } 

    .adult-text {
        margin-top: -230px;
        font-size: 42px;
        color: white;
    }

    .adult-content {
        margin-bottom: 20px;
    }

    .adult-groups {
        display: flex;
        flex-direction: column;
    }

    .adult-groups-part1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .adult-groups-part2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .bible-studies img, .young-adult img, .womens-ministry img, .mens-ministry img {
        height: 350px;
    }

/* Youth Page Desktop */

    .youth-img {
        width: 100%;
        height: 350px;
        margin-top: -50px;
    }

    .youth-text {
        margin-top: -190px;
    }

    .youth-info p {
        font-size: 20px;
    }

    .youth-events-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .christmas-party {
        margin-top: 20px;
    }

/* Children Page-Desktop */

    .kids-main-video {
        width: 100%;
        height: 350px;
        margin: -40px auto 30px auto;
    }

    .elementary-classes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .elementary-info {
        padding: 30px 100px;
    }

/* Missions Page-Desktop */

    .missions-main-img img {
        width: 100%;
        height: 300px;
        margin-top: -50px;
    }

    .missions-main-img h2 {
        font-size: 32px;
        margin-top: -220px;
    }

    .mission-info {
        margin: 170px auto 100px auto;
        padding: 0 25px;
        text-align: center;
    }

/* Watch/Listen Desktop */

    .sermons-main-video {
        width: 100%;
        height: 350px;
        margin-top: 30px;
    }

    .engage-info {
        margin: 50px 50px 100px 200px;
        font-size: 20px;
    }

/* Events Page Desktop */

    .event-img {
        width: 100%;
        height: 350px;
        margin-top: -50px;
    }

    .event-img-text {
        margin-top: -190px;
    }

    .event-text {
        font-size: 28px;
        text-align: center;
        color: coral;
    }
    
    .event-image {
        width: 300px;
        height: 250px;
        align-items: flex-start;
    }
    
/* Give Page Desktop */

    .give-img {
        width: 100%;
        height: 350px;
        margin-top: -50px;
    }
    
    .give-img-text {
        margin-top: -200px;
        font-size: 52px;
        letter-spacing: 7px;
    }
    
    .give-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 150px 100px;
    }

    .give-info p {
        font-size: 18px;
    }

    .give-info h2 {
        margin-top: 50px;
    }

/* User Account Page Desktop */

    .user-account-img {
        width: 100%;
        height: 350px;
        margin-top: -50px;
    }

    .account-wrapper {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .account-wrapper .img-title {
        font-family: 'Allura', cursive;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 5rem 0;
        width: 400px;
    }

    .img-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 2px;
        color: white;
        position: absolute;
        text-align: center;
    }

    .church-life-img {
        height: 450px;
    }

/* Footer-Desktop */
    .contact {
        display: flex;
        flex-direction: column;
    }

    .church-info {
        margin-left: 30px;
        gap: 50px;
    }
    .address {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .contact .footer-info {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        margin-top: 20px;
        gap: 50px;
    }

    .footer-info h2{
        font-size: 24px;
    }

    .footer-info p {
        font-size: 16px;
        font-weight: 700;
        /* margin-bottom: 50px; */
    }

    .footer-info p:hover {
        cursor:pointer;
    }

    .icons {
        margin-left: -30px;
    }

}
