*, 
*::before,
*::after {
    box-sizing: borders-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu',sans-serif;
}

.church-name {
    color: #082f54;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Allura', cursive;
    text-align: center;
    line-height: 25px;
    margin-left: 70px;
    padding-top: 5px;
}

.church-name span{
    color: white;
    font-weight: normal;
}

nav {
    background-color:#85b7a0;  
    width: 100%;
    height: 80px;
    padding: 0 16px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    /* fade in checked menu */
}

nav .m-menu__checkbox {
    display: none;
}

nav label.m-menu__toggle {
    cursor: pointer;
}

nav .m-menu {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 450px;
    width: calc(100vw - 30px);
    height: 420px;
    -moz-transform: translate3d(-450px, 0, 0);
    -o-transform: translate3d(-450px, 0, 0);
    -ms-transform: translate3d(-450px, 0, 0);
    -webkit-transform: translate3d(-450px, 0, 0);
    transform: translate3d(-450px, 0, 0);
    -moz-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    z-index: 1;
    overflow: hidden;
    background-color: lightgray;
}

nav .m-menu__overlay {
    background-color: rgba(103, 103, 103, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: none;
}

nav .m-menu__header {
    padding: 0 16px;
    height: 50px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

nav .m-menu__header span {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

nav .m-menu .m-menu {
    -moz-transform: translate3d(480px, 0, 0);
    -o-transform: translate3d(480px, 0, 0);
    -ms-transform: translate3d(480px, 0, 0);
    -webkit-transform: translate3d(480px, 0, 0);
    transform: translate3d(480px, 0, 0);
}

nav .m-menu ul {
    list-style: none;
    height: 100%;
    overflow-y: auto;
}

nav .m-menu ul li a,
nav .m-menu ul li label {
    display: block;
    text-align: left;
    padding: 0 15px;
    line-height: 47px;
    text-decoration: none;
    color: #082f54;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

nav .m-menu ul li label.a-label__chevron::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-color: #333;
    border-style: solid;
    border-width: 1px 1px 0 0;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    margin-top: -5px;
    right: 16px;
}

nav .m-menu ul li .-invisible {
    border-bottom: 0;
}

nav .m-menu .m-menu label.m-menu__toggle {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-bottom: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

nav .m-menu__checkbox:checked~.m-menu__overlay {
    display: block;
}

nav .m-menu__checkbox:checked~.m-menu {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.wrapper {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
}

.menu {
    display: none;
}

@media screen and (min-width: 850px) {

    #logo .church-name {
        width: 250px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Allura', cursive;
        text-align: start;
        line-height: 20px;
        margin: 0 50px 0 20px;
        padding-top: 5px;
    } 

    .xs-menu {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #container > nav > .menu {
        height: 80px;
    }

    #container {
        width: 100%;
        height: 80px;
        margin: 0 auto;
        box-shadow: -2px -2px 5px white, 2px -2px 5px white;
    }

    #container>nav {
        width: 100%;
        display: flex;
        max-height: 60px;
    }

    #container>nav>ul {
        max-width: 700px;
        margin: 0px;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;
        gap: 5px;
        position: absolute;
        z-index: 5000;
        right: -10px;
        /*   min-width:60%; */
    }

    #container>nav>ul>li {
        line-height: 60px;
        margin: 0 0px;
        padding: 0;
        text-align: center;
        display: inline-block;
        min-width: 120px;

    }

    #container>nav>ul>li>a {
        position: relative;
        margin: 0 10px;
        color: white;
        font-size: 14px;
        text-decoration: none;
    }

    #container>nav>ul>li:hover {
        border-bottom: 2px solid white;
        background-color: #082f54;
    }

    #container>nav>ul>.dropdown:hover {
        border-bottom: none;
    }

    #container>nav>ul>.dropdown:hover>.dd {
        display: block;
    }

    .dropdown:hover>a .fa-caret-down {
        display: none;
    }

    a {
        text-decoration: none;
    }

    #container>nav>ul>li>div {
        position: absolute;
        padding: 0 10px;
        background-color: black;
        display: none;
        background-color: lightgrey;
        min-width: 200px;
    }

    #container>nav>ul>li>div>ul {
        margin: 0px 0 10px 0;
        padding: 0;
        list-style: none;
    }

    #u_a_c {
        position: relative;
        width: 100%;
    }

    #up_arrow {
        position: relative;
        width: 20px;
        height: 20px;
        left: 42%;
        top: -10px;
        background-color: lightgray;
        transform: rotate(45deg);
    }

    #container>nav>ul>li>div>ul>li:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    #container>nav>ul>li>div>ul>li>a {
        padding: 5px;
        color: black;
    }
}

.youth-img {
    width: 100%;
    height: 300px;

}

.main-img h2 {
    position: absolute;
    margin: -200px 0 0 160px;
    font-size: 42px;
    color: white;
    text-transform:uppercase;
    border-bottom: 1px solid white;
    letter-spacing: 3px;
}

.youth-info {
    text-align: center;
    padding: 30px;
    background-color: lightgray;
}

.youth-info h2 {
    font-size: 38px;
    text-transform: uppercase;
}

.cores h2 {
    color:#0BBAB3;
    font-weight: 700;
}

.youth-times {
    font-weight: 700;
}

.youth-events {
    width: 100%;
}

.youth-events-info {
    padding: 30px auto;
}

.youth-event-img {
    width: 100%;
    height: 350px;
    position: relative;
}

.youth-events h2 {
    position: absolute;
    margin: -210px 0 0 70px;
    font-size: 42px;
    color: white;
    text-transform:uppercase;
    border-bottom: 1px solid white;
    letter-spacing: 3px;
    text-align: center;
}

.costume-party a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    color: coral;
}

.costume-party-img, .ski-event-img, .christmas-img {
    height: 100px;
    width: 150px;
    position: relative;
}

.costume-party a:hover {
    text-decoration: none;
    color: coral;
}

.christmas-party a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    color: coral;
}

.visual p {
    position: absolute;
    margin: -70px 0 0 10px;
    text-align: center;
}

.christmas-party a:hover {
    text-decoration: none;
    color: coral;
}

.christmas-img {
    /* margin: 0 20px 0 0px; */
}

.ski-event-img {
    /* margin-left: -12px; */
}

/* .img-text {
    position: absolute;
    margin: -70px 260px 0 0;
    color: white;
    font-weight: 700;
} */

.text h1 {
    font-size: 24px;
    text-align: center;
} 

.text p {
    text-align: center;
} 

.ski-event {
    margin-top: 20px;
}

.ski-event a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    color: coral;
}

.ski-event a:hover {
    color: coral;
}

.text {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.youth-info-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.youth-info-links h2 {
    text-transform: uppercase;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.links a {
    text-decoration: none;
    width: 150px;
    height: 50px;
    background-color:#0BBAB3;
    padding: 10px;
    color: coral;
    font-weight: 700;
    
}

.links a:hover {
    color: black;
    
}

.children-img {
    width: 100%;
    height: 350px;
}

.little-lambs, .tigers, .monkeys, .rhinos, .elementary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
    
}

.lamb-img, .tiger-img, .monkey-img, .rhino-img, .elementary-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.info {
    width: 200px;
    font-size: 24px;
    color: #0BBAB3;
    font-weight: 700;
    text-transform: uppercase;
}

.elementary-info {
    padding: 30px;
    font-size: 24px;
}

.childrens-church h2 {
    margin: 50px 25px 0 20px;
    border-bottom: 1px solid black;
}
.childrens-church p{
    margin: 20px 25px;
    font-size: 24px;
    color: #0BBAB3;
}

.contact {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(53, 49, 49); 
    color: white;
    text-align: center;
    padding-bottom: 40px;
} 

.contact .church-name {
    width: 400px;
    font-family: 'Allura', cursive;
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin: 30px 0 0 -10px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.contact h2 {
    font-size: 38px;
    font-weight: normal;
}

.address {
    line-height: 25px;
    margin-top: 10px;
}

.account {
    width: 150px;
    height: 40px;
    margin: 0 0 20px 15px;
    border-radius: 24px;
    border: none;
    background-color:coral;
    color: #082f54;
    font-weight: 700;
    padding: 5px 10px 0 0;
}

.account a {
    text-align: center;
    text-decoration: none;
}

.account:hover {
    color: white;
}
